<div class="page-container">
        <form method="post" action="" >
        <div class="text-center text-large text__red" role="alert">
                <strong>Select your gender</strong>

                <div class="container">
                        <div class="row">
                          <div class="col">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" style="display: none;" >
                                <label  for="exampleRadios1" style="color:red;">
                                  <img src="{{url_for('static',filename='icons/Male_Icon_2.png')}}"class="img-thumbnail selectGender-image change-opacity">
                                </label>
                          </div>
                          <div class="col">
                    
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1" style="display: none;"  >
                <label  for="exampleRadios2" style="color:red;">
                        <img src="{{url_for('static',filename='icons/Female_Icon_2.png')}}"class="img-thumbnail selectGender-image">
                </label>
                          </div>
                        </div>
                        
                      </div>
                

            </div>

            <div class="text-center text-large text__red" role="alert">
                    <strong>Select your preferred gender</strong>

                    <div class="container">
                        <div class="row">
                              <div class="col">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" style="display: none;" >
                                    <label  for="exampleRadios1" style="color:red;">
                                      <img src="{{url_for('static',filename='icons/Male_Icon_2.png')}}"class="img-thumbnail selectGender-image change-opacity">
                                    </label>
                        </div>
                    <div class="col">
                        
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1" style="display: none;"  >
                    <label  for="exampleRadios2" style="color:red;">
                            <img src="{{url_for('static',filename='icons/Female_Icon_2.png')}}"class="img-thumbnail selectGender-image">
                    </label>
                              </div>
                            </div>
                            
                          </div>
                    

                </div>

                <button type="button" class="btn btn-primary btn-large">
                        Start Matching 
                </button>
        </form>
</div>