html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #003333;
}

.icon {
	width: 32%;
	margin: 0;
	border: 0;
	padding: 0;
}

h1 {
    font-size: 100px;
    margin-top: 10%;
}

h2 {
    font-size: 70px;
    margin-top: 10%;
}

.btn {
    font-size: 40px;
    margin-top: 10%;
}
