flask
flask-sqlalchemy
flask-googlemaps
flask-socketio
flask-migrate
flask-script
flask-session
flask-caching
flask-restplus
flask-marshmallow
sqlalchemy
sqlalchemy-utils
marshmallow-sqlalchemy
eventlet
gunicorn
bcrypt
pathlib
mysql-connector
python-dotenv
redis
