<!doctype html>
<html>
	<head>
		<title>If You Are The One</title>
  		<link rel="stylesheet" type="text/css"
  		href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        {% block links %}{% endblock %}
    </head>
	<body>
		<h1 class="text-center">非诚勿扰</h1>

		<main>
		{% block content %}{% endblock %}
		</main>

		<script defer src="{{ url_for('static', filename='js/socket.io.dev.js') }}"></script>
		<script defer src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
		<script defer src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
		<script defer src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script defer src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>

		{% block scripts %}{% endblock %}
	</body>
</html>
