{% extends 'base.html' %}

{% from 'components/renderHome.html' import renderHome %}
{% from 'components/renderError.html' import renderError %}
{% from 'components/renderGroupNumber.html' import renderGroupNumber %}
{% from 'components/renderQueue.html' import renderQueue %}


{# CSS #}
{% block links %}

<link rel="stylesheet" type="text/css"
   href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}

{# Site content #}
{% block content %}

{% if error %}
	{{renderHome()}}
{% else %}



	
{%endif%}



{% endblock %}

{# JavaScripts #}
{% block scripts %}



<script defer src="{{ url_for('static', filename='js/index.js') }}">
</script>

{% endblock %}
