{% extends 'base.html' %}

{# CSS #}
{% block links %}

<link rel="stylesheet" type="text/css"
   href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}

{# Site content #}
{% block content %}

{# display error if there is any #}
{% if error %}

<div class="alert alert-danger">
	<strong>ERROR: </strong>{{ error }}
</div>

{% endif %}

{# Do async stuff #}
<div id="waitlist"></div>

{% endblock %}

{# JavaScripts #}
{% block scripts %}

<script defer src="{{ url_for('static', filename='js/index.js') }}">
</script>


{% endblock %}
