{% extends 'base.html' %}

{# CSS #}
{% block links %}

<link rel="stylesheet" type="text/css"
   href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}

{# Site content #}
{% block content %}

{# display error if there is any #}
{% if error %}

<div class="alert alert-danger text-center">
	<strong>ERROR: </strong>{{ error }}
</div>

{% endif %}

<center>
Waiting...
</center>
{# JavaScripts #}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        var socket = io.connect();

        socket.on('connect', function() {
            socket.emit('connect_event', {data: 'connected!'});
        });

        socket.on('server_response', function(msg) {
            $('#log').append('<br>' + $('<div/>').text('Received #' + ': ' + msg.data).html());
        });

        $('form#emit').submit(function(event) {
            socket.emit('client_event', {data: $('#emit_data').val()});
            return false;
        });
    });
</script>
</script>
{% endblock %}
